.dashboard-container {
    /* flex: 2; */
 display: inline-flex;
    flex-direction: row;
}
.dashboard-body {
    flex: 1;
    display: inline-flex;
    /* flex-direction: column; */
    background-color: #F0F2F5;
}